.additional-information {
  padding-left: 1rem;
  padding-top: 2rem;
}

.additional-information__text {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.2px;

  color: #1b1c21;
}

.additional-information__link {
  // display: inline-flex;
  // gap: 0.75rem;
  margin-top: -1rem;
}

.additional-information__link--text {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;

  color: #1b1c21;

  font-weight: 500;
}
