.main-text-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .main-text-img {
    flex-direction: row;
  }
}

.main-text-img__picture {
  // align-self: flex-start;
  flex: auto;
  object-fit: contain;
}

.main-text-img__text--text {
  overflow: hidden;
  max-height: 3.5rem;
}

.main-text-img__text--text._show-more {
  max-height: 9999999rem;
  transition: all 0.5s ease 0s;
}

.main-text-img__text--button {
  background-color: $back-ground-main;
  border: none;
  align-self: start;
  font-weight: 500;
}

.main-text-img__text--button--text--no {
  display: none;
}

.js-main-text-img__text--button--text {
  display: none;
}

.js-main-text-img__text--button--text--no {
  display: inline;
}

.js-main-text-img__text--button--img {
  transform: rotate(180deg);
}
