@media (min-width: 768px) {
  .repair-of-brands--prices {
    display: none;
  }

  .repair-of-brands__--tablet--praces--head-list {
    display: grid;
    grid-template-columns: 50% repeat(3, auto);
    padding-left: 2rem;
    height: 80px;
    align-items: center;
  }

  .repair-of-brands--tablet--praces {
    width: auto;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    box-sizing: border-box;
    // overflow: hidden; /* text-overflow */

    // background: $back-ground-main;
    // background-size: 100%;
  }

  .repair-of-brands__text--tablet--praces {
    padding: 1rem;
    display: block;
    height: 80px;
    box-sizing: border-box;
    font-family: "TT Lakes";
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $button-hover;
    background: rgb(248, 248, 248);
    background: linear-gradient(
      90deg,
      rgba(248, 248, 248, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top: 1px solid $border-top-slider-etc;
  }

  .repair-of-brands__text--tablet--praces::after {
    content: "";
    display: block;
    width: 2rem;
    height: 80px;
    background-color: #fff;
    position: relative;
    left: 100%;
    transform: translate(1rem, -50%);
    box-sizing: border-box;
    border-top: 1px solid $border-top-slider-etc;
  }

  .repair-of-brands--tablet--praces--head-list {
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 50% repeat(3, auto);
    color: #7e7e82;
    height: 4rem;
    align-items: center;
    transform: translateY(1rem);
  }
  .repair-of-brands--tablet--praces--container {
    // костыль START
    position: relative;
    left: 1rem;

    background-color: #fff;
    padding: 0.5rem 1rem 0 1rem;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 6px;

    width: auto;

    min-width: 0;
    height: 20rem;

    display: grid;
    grid-template-columns: 50% repeat(3, auto);
    grid-template-rows: repeat(5, auto);

    align-items: baseline;
  }

  // name of servce
  .repair-of-brands--tablet--praces--container :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  // price
  .repair-of-brands--tablet--praces--container :nth-of-type(6) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(7) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(8) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(9) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(10) {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  // time
  .repair-of-brands--tablet--praces--container :nth-of-type(11) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(12) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(13) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(14) {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(15) {
    grid-column: 3/4;
    grid-row: 5/6;
  }

  // img
  .repair-of-brands--tablet--praces--container :nth-of-type(16) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(17) {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(18) {
    grid-column: 4/5;
    grid-row: 3/4;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(19) {
    grid-column: 4/5;
    grid-row: 4/5;
  }
  .repair-of-brands--tablet--praces--container :nth-of-type(20) {
    grid-column: 4/5;
    grid-row: 5/6;
  }

  .repair-of-brands--tablet--praces--elements {
    border-bottom: #eaeaea 2px solid;
    padding-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .repair-of-brands--tablet--praces--elements:nth-of-type(5),
  .repair-of-brands--tablet--praces--elements:nth-of-type(10),
  .repair-of-brands--tablet--praces--elements:nth-of-type(15),
  .repair-of-brands--tablet--praces--elements:nth-of-type(20) {
    border-bottom: none;
  }

  .repair-of-brands--tablet--praces--img {
    height: 2rem;
    transform: translateY(0.5rem);
  }
}
