@import "./main-service-buttons";
@import "./main-text-img";
@import "./add-inf";

main {
  margin: 0;
  padding: 0;
  // padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

main._blur {
  filter: blur(6px);
}

@media (min-width: 1120px) {
  main {
    position: relative;
    transform: translate(0, -6rem);
  }

  // // MY ATTEMPT OF SOLUTION OF BIG-WHITE-BAR UNDER THE SIDE-PANNEL PROBLEM
  // .id-of-side-panel::after {
  //   content: "";
  //   display: block;
  //   width: 19rem;
  //   height: 100%;
  //   background-color: #fff;
  //   position: sticky;
  //   left: 0;
  //   top: 0;
  //   transform: translateY(-60%);
  //   z-index: -1;
  // }
}

body {
  transform: translate(0, 0);
}
