@import "./main-service-buttons";
@import "./main-text-img";
@import "./add-inf";

main {
  margin: 0;
  padding: 0;
  // padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

main._blur {
  filter: blur(6px);
}

@media (min-width: 1120px) {
  main {
    position: relative;
    transform: translate(0, -6rem);
  }

  .the-most-important-class {
    background: rgb(248, 248, 248);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20rem,
      rgba(255, 255, 255, 1) 20rem,
      rgba(248, 248, 248, 1) 20rem,
      rgba(248, 248, 248, 1) 100%
    );
  }
}

body {
  transform: translate(0, 0);
}
